
$transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

//tile colors
$tilecolor:( 
    0:#6E0DD0,
    1:#006FFF,
    2:#13F4EF,
    3:#68FF00,
    4:#FAFF00,
    5:#FFBF00,
    6:#FB33DB,
    7:#FF005C);


@mixin flexit {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    // flex-wrap: wrap;
}

@mixin btn-transiton {
    transition: background-color $transition,
    box-shadow $transition,
    color $transition,
    transform $transition; 
}

@mixin container($height, $bgcolor: transparent) {
    @include flexit();
    width: 100%;
    height: $height;
    background-color: $bgcolor;
}

@mixin tilebase($bg_name, $colorkey, $width, $height) {
    background-image: url('../tiles_bg/'+$bg_name);
    background-size: auto;
    margin: 1em;
    flex-basis: $width;
    height: $height;
    transition: box-shadow $transition;
    
    &:hover{
     box-shadow: 0 0 10px map-get($tilecolor, $colorkey );}
    
    &-tile {
    @include flexit();
    background-color: rgba($color: #000000, $alpha: 1.0);
    transition: $transition;
    width: 100%;
    height: 100%;
    
    &:hover{
    background-color: rgba($color: #000000, $alpha: 0.5);}}
}


* {
    border: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    color: white;
    justify-content: space-around;
    align-content: space-around;
    overflow: hidden;
}

 html, body {
    background: #000;
    height: 100%;
}

header {
    @include flexit();
    margin: 1em 2em;
    border: #1b1e23 solid 1px;
    padding: 5px;
    position: fixed;
    width: 90%;

    .menu {
    float: left;
    width: 4em;
    height: 3em;}

    .menu-button {
    @include btn-transiton();
    position: relative;
    top: 0.25em;}
    
    .menu-button:hover {
    background-color: white;
    box-shadow: 0.2em 0.2em 0.125rem darkred;
    color: black;   
    transform: rotateZ(180deg);}

    p {
    font-size: 3rem;
    display: inline-block;}
   
    nav { 
    li {
    @include btn-transiton();
    display: inline-flex;
    list-style: none;
    padding: 0.25rem;
    border: 1px solid transparent;
    margin: 0.5rem;
    color: red;}

    li:hover {
    background-color: white;
    box-shadow: 0.5rem 0.5rem 0.125rem darkred;
    color: black;
    transform: translateY(2px);}
    }

    a {text-decoration: none;}
}

main {
    margin: 100px auto;
    width: 90%;
}

@media (max-width: 598px) {
    main {
        margin: 160px auto;
    }
}